**.dat
**.dta
**.rds
**.fthr
**.f
**.png
!output_100.png
**.tar
**.pdf
**.Rhistory
inputs/cache/*
**/__pycache__/**
**.zip
**.docx
**.html
**.xlsx

**.log
**.smcl
data/dofiles/*
data-asec/dofiles/*
**.dct

inputs/seasonal_adjustment/measures.csv
inputs/seasonal_adjustment/out


